<%- include("./partials/header"); -%>
<title>Select Movie</title>
<div class="container">
  <h1 class="heading">Select Movie</h1>

  <p>
    <a href="#"> movie title - movie date</a>
  </p>
  <p>
    <a href="#"> movie title - movie date</a>
  </p>
  <p>
    <a href="#"> movie title - movie date</a>
  </p>
  <p>
    <a href="#"> movie title - movie date</a>
  </p>
  <p>
    <a href="#"> movie title - movie date</a>
  </p>
  <p>
    <a href="#"> movie title - movie date</a>
  </p>
</div>

<%- include("./partials/footer"); -%>
